---

---

<div>
  <a
    href="https://drive.google.com/file/d/147l2IXqok5ASusr0qGbDsrUKwVVJpu4o/view"
    target="_blank"
  >
    <button
      class="border-2 border-grøn rounded-md p-2 px-4 text-grøn open-sans md:text-lg text-md hover:bg-grøn hover:text-beige"
    >
      <slot />
    </button>
  </a>
</div>
